.post {
  margin: 10px 20px 38px 20px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 40px 1fr 20px;
}

.avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.username {
  font-size: 1.1rem;
  margin-right: 20px;
}

.datetime {
  font-size: 0.7rem;
  color: #8e8e8e;
}

.like {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: start;
  display: flex;
  align-items: center;
}

.like:hover {
  cursor: pointer;
}

.like_icon {
  width: 14px;
  fill: #ffffff;
  margin-right: 6px;
}

.like_count {
  font-size: 1.2rem;
}

.text {
  font-size: 0.9rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
