.post {
  margin: 10px 20px 38px 20px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 40px 1fr;
}

.avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.username {
  font-size: 1.1rem;
  margin-right: 20px;
}

.datetime {
  font-size: 0.7rem;
  color: #8e8e8e;
}

.text {
  font-size: 0.9rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
