.post {
  margin: 10px 20px 38px 20px;
}

.header {
  margin-bottom: 6px;
}

.username {
  font-size: 1.1rem;
  margin-right: 20px;
}

.datetime {
  font-size: 0.7rem;
  color: #8e8e8e;
}

.text {
  font-size: 0.9rem;
}
